html{
    font-size : 0.6rem
}
title{
    font-size : 2rem
}
body{
    display: flex;
    background-color: snow;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.center {
    text-align: center;
    color: black;
}
.area-mainboard {
    border: 0.5rem solid gainsboro;
    border-radius: 0.5rem;
    padding: 1.5rem 0.75rem 1.5rem 0.75rem;
}
.area-display{
    font-size:calc(0.1rem * 6 * 6);
    text-align: right;
    box-shadow: 0 0 1rem 0 darkslategrey;
    background-color: lavenderblush;
    color: darkslategrey;
    width: 32rem;
    padding: 1.5rem 1.5rem;
    margin: 1.5rem 0 1.5rem 0
}
.area-calcboard{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
            'one two three plus'
            'four five six minus'
            'seven eight nine times'
            '. zero equals divides';
}

.number {
    font-size: 2.5rem;
    text-align: center;
    text-align-all: center;
    vertical-align: middle;
    display: grid;
    box-shadow: 0 0 0.4rem 0 darkslategrey;
    background-color: AliceBlue;
    border: 0.1rem dashed CornflowerBlue;
    margin: 0.5rem 0.75rem 0.5rem 0.75rem;
    padding: 0.75rem 2rem 0.75rem 2rem;
    border-radius: 1.5rem;
    font-family: Verdana, Geneva, sans-serif;
}
.operator {
    font-size: 2.5rem;
    text-align: center;
    text-align-all: center;
    vertical-align: middle;
    display: grid;
    box-shadow: 0 0 5px 0 darkslategrey;
    color : Cornsilk;
    background-color: Coral;
    border: 0.1rem solid Crimson;
    margin: 0.5rem 0.75rem 0.5rem 0.75rem;
    padding: 0.75rem 2rem 0.75rem 2rem;
    border-radius: 1.5rem;
    font-family: Verdana, Geneva, sans-serif;
}