.big-heading {
    font-size: xx-large;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    padding: 25px 50px;
}

.user-info {
    text-align: right;
    font-family: sans-serif;
    padding-right: 10px;
    font-size: x-large;
}

.side-bar{
    text-align: right;
    font-family: sans-serif;
    padding-right: 10px;
    font-size: x-large;
}

.message {
    color:blue;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-family: sans-serif;
    padding: 25px 50px;
}

.container{
    background-color: lavenderblush;
    box-shadow: 0 0 1rem 0 darkslategrey;
    border: 0.2rem solid midnightblue;
    border-radius: 0.5rem;
    padding: 1.5rem 0.75rem 1.5rem 0.75rem;
}

.search-bar {
    text-align: center;
    padding: 25px 50px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-family: sans-serif;
    font-size: x-large;
    padding: 25px 50px;
}

.error {
    color:red;
}

.list {
    padding: 3px;
}

.list-link {
    padding: 5px;
}

.list-link:hover {
     background-color:lightgray;
}
.side-bar{
    font-size: x-large;
    font-weight: normal;
    text-align: right;
}

th {
    font-weight: normal;
    text-align: left;
}

body{
    display: flex;
    background-color: snow;
    justify-content: center;
    align-items: center;
}
a {
     text-decoration: none;
     color:black;
}

button {
    font-size: x-large;
    padding: 3px;
}

input {
    font-size: x-large;
}

div, form {
    padding: 4px;
}


.navlink {
    background-color: lightgray;
}

.letter {
    padding: 3px;
    font-family: sans-serif;
    font-size: x-large;

}

.letter:hover {
     background-color:lightgray;
}
