<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Messages</title>
    <link rel="stylesheet" type="text/css" href="/static/calculator/calculator.css">
</head>
<body>
<!-- the container -->
<div class="container" id = "mainboard">
<h1 class="center">Calculator Errors</h1>
    {% for error in errors %}
        <div class="error" style="color:darkred ; font-size : 2.5rem" id="message">
            {{error}}
        </div>
    {% endfor %}
    <div>
            <a href="/">home_page</a>
    </div>
</div>
</body>
</html>