{% extends "socialnetwork/basewithnav.html" %}
{% block user-info %}
<div>
        <span id="id_logged_in_user_name">
            {{user.first_name}} {{user.last_name}} <br>
        </span>
</div>
{% endblock %}

{% block page-name %}
<h1><span id="id_page_name">Profile Page For {{user.first_name}} {{user.last_name}}</span></h1>
{% endblock %}

{% block content %}


<div class="container">
    <div class="mycontainer_light" style="width: 50rem;">

        {% if profile.id %}
        <div>
            {% if profile.picture %}
            <img align="center" id = "id_user_picture" src="{% url 'photo' profile.id %}" width="600px">
            <br>
            {% endif %}

            {% if request.user == profileform.user %}
            <form action="#" method="POST" class="delete-button-form">
                <button class="delete-button">&#10005;</button>
                {% csrf_token %}
            </form>
            <form action="#" method="GET" class="edit-button-form">
                <button class="edit-button">&#10000;</button>
            </form>
            {% endif %}

            <span class="text">
            <div class="text">Bio :</div>
            <span id = "id_bio_input_text"><input readonly value="{{profile.bio}}"></span>
            <br>
        </span>
            <br>
            <span class="dark-blue-text">
            (id={{profile.id}},
            user={{profile.user}})
        </span>

        </div>
        <hr>
        {% endif %}
            <div>
                <button id="id_bio_profile_button" type="submit">Submit</button>
                <button type="submit">Edit</button>
            </div>
            {% csrf_token %}
        </form>


    </div>


    <!--    <form method="post" action="myprofile_action">-->
    <!--        <button  type="submit">Edit</button>-->
    <!--    </form>-->

    <div class="card-body">
        <div>
            <p>You are following:</p>
            <ul>
                {% load static %}
                <li>
                    <a href="{% url 'profile_others' %}" id="id_profile_link_ppkrit">Ashly Ash</a>
                </li>
                <li>
                    <a href="{% url 'profile_others'%}" id="id_profile_link_billkin">Billkin Puttipong</a>
                </li>
                <li>
                    <a href="{% url 'profile_others' %}" id="id_profile_link_aduso">Aduso Qu</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}