{% extends "socialnetwork/base.html" %}
    {% block nav-bar %}
    <div align = "right" class="dropdown active">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown"
                 type="button">
            <span id ="id_show_nav_button">Menu</span>
        </button>
        <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'globalstream' %}"> <span id="id_nav_global_stream">Global Stream</span></a>
            <a class="dropdown-item" href="{% url 'followerstream' %}"> <span id="id_nav_follower_stream">Follower Stream</span></a>
            <a class="dropdown-item" href="{% url 'profile' %}"> <span id="id_nav_profile">My Profile</span></a>
            <a class="dropdown-item" href="{% url 'logout' %}"><span id="id_nav_logout">Logout</span></a>
        </div>
    </div>
    {% endblock %}
</div>
