{% extends "socialnetwork/basewithnav.html" %}

{% block user-info %}
<div>
        <span id="id_logged_in_user_name">
            {{user.first_name}} {{user.last_name}} <br>
        </span>
</div>
{% endblock %}


{% block page-name %}
<h1><span id="id_page_name">Global Stream</span></h1>
{% endblock %}

{% block content %}
{% load static %}
<form id="post_input" method="post" action="#" style="width: 50%;">
    <div>
        <div class="col dark-teal-text">
            New Post :
        </div>
        <div>
            <input class="form-control" id="id_post_input_text" type="text" aria-label="Large"
                   aria-describedby="inputGroup-sizing-sm">
        </div>
        {% csrf_token %}
        <div align="right">
            <button id="id_post_button" type="submit">Submit</button>
        </div>
        <div></div>
    </div>
</form>

<div id="blog_1" style="width: 70%;" class="mycontainer_light">
    <div class="row">
        <!-- Post Content Column -->
        <span class="col-lg">Published by
            <p class="lead">
                <a href="{% url 'profile_others' %}"><span class="message" id="id_post_profile_1">Billkin Puttipong</span> :
            </p>
            <p align="center">
                <span class="lead" id="id_post_text_1">Do one thing every day that scares you.</span>
            </p>
            <p align="right" class="small dark-teal-text h-50">
                <span id="id_post_date_time_1">02/25/2021 12:20 PM</span>
            </p>
        </span>
    </div>

    <form>
        <div>
            <div class="col dark-teal-text">
                comment
            </div>
            <div>
                <input class="form-control" id="id_comment_input_text_1" type="text">
            </div>
            {% csrf_token %}
            <div align="right">
                <button id="id_comment_button_1" type="submit">Submit</button>
            </div>
        </div>
    </form>

    <hr>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <!-- Post Content Column -->
            <div class="col-lg">Comment by
                <p class="lead">
                    <span class="commenter" id="id_comment_profile_2">Kurt Vonnegut</span> :
                </p>
                <p align="center">
                    <span class="lead" id="id_comment_text_2">We are what we pretend to be, so we must be careful about what we pretend to be.</span>
                </p>
                <p align="right" class="small dark-teal-text">
                    <span id="id_comment_date_time_2">02/25/2021 12:20 PM</span>
                </p>
                <form>
                    <div>
                        <div class="col dark-teal-text">
                            comment
                        </div>
                        <div>
                            <input class="form-control" id="id_comment_input_text_2" type="text">
                        </div>
                        {% csrf_token %}
                        <div align="right">
                            <button id="id_comment_button_2" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <hr>

    <div class="row">
        <!-- Post Content Column -->
        <div class="col-2"></div>
        <div class="col-10">Comment by
            <p class="lead">
                <span class="commenter" id="id_comment_profile_3">Paulo Coelho</span> :
            </p>
            <p align="center">
                <span class="lead" id="id_comment_text_3">When we love, we always strive to become better than we are. When we strive to become better than we are, everything around us becomes better too.</span>
            </p>
            <p align="right" class="small dark-teal-text">
                <span id="id_comment_date_time_3">02/25/2021 12:20 PM</span>
            </p>
            <form>
                <div>
                    <div class="col dark-teal-text">
                        comment
                    </div>
                    <div>
                        <input class="form-control" id="id_comment_input_text_3" type="text">
                    </div>
                    {% csrf_token %}
                    <div align="right">
                        <button id="id_comment_button_3" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>

<div id="blog_2" style="width: 70%;" class="mycontainer_light">
    <div class="row">
        <!-- Post Content Column -->
        <span class="col-lg">Published by
            <p class="lead">
                <span class="message" id="id_post_profile_2">Eleanor Roosevelt</span> :
            </p>
            <p align="center">
                <span class="lead" id="id_post_text_2">Do one thing every day that scares you.</span>
            </p>
            <p align="right" class="small dark-teal-text h-50">
                <span id="id_post_date_time_2">02/25/2021 12:20 PM</span>
            </p>
        </span>
    </div>

    <form>
        <div>
            <div class="col dark-teal-text">
                comment
            </div>
            <div>
                <input class="form-control" id="id_comment_input_text_4" type="text">
            </div>
            {% csrf_token %}
            <div align="right">
                <button id="id_comment_button_4" type="submit">Submit</button>
            </div>
        </div>
    </form>

    <hr>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <!-- Post Content Column -->
            <div class="col-lg">Comment by
                <p class="lead">
                    <span class="commenter" id="id_comment_profile_4">Kurt Vonnegut</span> :
                </p>
                <p align="center">
                    <span class="lead" id="id_comment_text_4">We are what we pretend to be, so we must be careful about what we pretend to be.</span>
                </p>
                <p align="right" class="small dark-teal-text">
                    <span id="id_comment_date_time_4">02/25/2021 12:20 PM</span>
                </p>
                <form>
                    <div>
                        <div class="col dark-teal-text">
                            comment
                        </div>
                        <div>
                            <input class="form-control" id="id_comment_input_text_5" type="text">
                        </div>
                        {% csrf_token %}
                        <div align="right">
                            <button id="id_comment_button_5" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <hr>

    <div class="row">
        <!-- Post Content Column -->
        <div class="col-2"></div>
        <div style="font-size: 62.5%" class="col-10">Comment by
            <p class="lead">
                <span class="commenter" id="id_comment_profile_5">Paulo Coelho</span> :
            </p>
            <p align="center">
                <span class="lead" id="id_comment_text_5">When we love, we always strive to become better than we are. When we strive to become better than we are, everything around us becomes better too.</span>
            </p>
            <p align="right" class="small dark-teal-text">
                <span id="id_comment_date_time_5">02/25/2021 12:20 PM</span>
            </p>
            <form>
                <div>
                    <div class="col dark-teal-text">
                        comment
                    </div>
                    <div>
                        <input class="form-control" id="id_comment_input_text_6" type="text">
                    </div>
                    {% csrf_token %}
                    <div align="right">
                        <button id="id_comment_button_6" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>

{% endblock %}