{% extends "socialnetwork/basewithnav.html" %}
{% block user-info %}
<div>
        <span id="id_logged_in_user_name">
            {{user.first_name}} {{user.last_name}} <br>
        </span>
</div>
{% endblock %}

{% block page-name %}
<h1><span id="id_page_name">Profile Page For assly Ash</span></h1>
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" action="profile_others">
        <div class="mycontainer_light" style="width: 50rem;">
            <div>
                <span id="id_user_picture"></span>
            </div>
            <figure>
                <img class="figure-img"
                     src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png"
                     alt="Card image cap">
            </figure>
            <div id="id_user_bio" style="border:0.1rem solid">
                <p >If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals.</p>
                <p>I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.</p>
            </div>
            <div align="center">
                <button id="id_unfollow" type="submit">Unfollow</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}
