{% extends "socialnetwork/base.html" %}


{% block user-info %}
    <div>
        <a href="{% url 'login' %}">
            <button id="id_login_link">Login</button>
        </a>
    </div>
{% endblock %}

{% block page-name %}
<h1><span id="id_page_name">>Register</span></h1>
{% endblock %}

{% block content %}

    <form method="post" action="{% url 'register' %}">
        <table>
            {% for field in form.visible_fields %}
                <tr>
                    <td>{{field.label_tag}}</td>
                    <td>{{field}}</td>
                    <td class="error">
                        {% for error in field.errors %} {{error}} {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% csrf_token %}

        <div align="center" >
            <button id= "id_register_button" type="submit">Submit</button>
        </div>
    </form>

    {% for error in form.non_field_errors %}
        <p class="error">
            {{ error }}
        </p>
    {% endfor %}

{% endblock %}
