{% extends "socialnetwork/basewithnav.html" %}

{% block user-info %}
<div>
    <span id="id_logged_in_user_name">
        {{user.first_name}} {{user.last_name}} <br>
    </span>
</div>
{% endblock %}


{% block page-name %}
<h1><span id="id_page_name">Global Stream</span></h1>
{% endblock %}

{% block content %}
{% load static %}

{% if error %}
<div class="error">
    {{error}}
</div>
{% endif %}
<div align="center">
<div align="center" id="post_input" style="width: 50%;">
    <div>
        <div align="center" class="col dark-teal-text">
            New Post :
        </div>
        <div align="center">
            <input name="post" class="form-control" id="id_post_input_text" type="text" aria-label="Large"
                   aria-describedby="inputGroup-sizing-sm">
        </div>
        <div align="right">
            <button id="id_post_button" onclick="addPost()">Submit</button>
        </div>
    </div>
</div>
</div>
{#    <body onload="showPost()">#}
<span id="error" class="error"></span>
<div id="mainpost"></div>


<script>
    // Save this user's username so our JS deleteItem() function can determine whether show delete buttons
    var myUserName = "{{ request.user.username }}"

    // Call getList() as soon as page is finished loading to display the to do list
    window.onload = getGlobal;

    // ... also call getList every 5 seconds hereafter to update the list
    window.setInterval(getGlobal, 5000);

</script>

{% endblock %}