{% extends "socialnetwork/basewithnav.html" %}

{% block user-info %}
<div>
    <span id="id_logged_in_user_name">
        {{user.first_name}} {{user.last_name}} <br>
    </span>
</div>
{% endblock %}


{% block page-name %}
<h1><span id="id_page_name">Global Stream</span></h1>
{% endblock %}

{% block content %}

{% load static %}

{% if error %}
<div class="error">
    {{error}}
</div>
{% endif %}

<div>
    <div class="col dark-teal-text">
        New Post :
    </div>
    <div>
        <input name="post" class="form-control" id="id_post_input_text" type="text" aria-label="Large"
               aria-describedby="inputGroup-sizing-sm">
    </div>
    <div align="right">
        <button id="id_post_button" onclick="addPost()">Submit</button>
        <span id="error" class="error"></span>
    </div>
</div>


<div style="width: 70%;" class="mycontainer_light">

    <div id="postshow"></div>
    <div id="commentshow"></div>

    </span></p></span>

    <div>
        <div class="col dark-teal-text">
            comment
        </div>
        <div>
            <input id="id_comment_input_text_' + post.post_id + '" name="comment" class="form-control" type="text">
        </div>
        <div align="right">
            <button id="id_comment_button_' + post.post_id+ '" onclick="addComment(' + post.post_id ')">Submit
            </button>
        </div>
    </div>


    <hr>
</div>


<script>
    // Save this user's username so our JS deleteItem() function can determine whether show delete buttons
    var myUserName = "{{ request.user.username }}"

    // Call getList() as soon as page is finished loading to display the to do list
    window.onload = getGlobal;

    // ... also call getList every 5 seconds hereafter to update the list
    window.setInterval(getGlobal, 5000);

</script>

{% endblock %}

